{%extends 'base.html'%}
{%block new%}
<body>
    <div class="container">
        <div class="row m-5">
            <div class="col-md-12">
            <h2 class="text-center">Download Resume for below users</h2>
            </div>
        </div>        
        {% for user in profile %}
        <div class="row ">
            <div class="col-md-6 text-center">
                <h3>{{user.name}}</h3>
            </div>
            <div class="col-md-6 text-center">
                <a href="/{{user.id}}" class="btn btn-warning">Download</a>
        
            </div>
        </div>
        <hr>
        <br>
        {%endfor%}
    </div>
{%endblock%} 